@media screen and (min-width: 992px) {
	#header,.chatHeader{
		background: rgb(238,238,238);
		color: rgba(0,0,0,0.5);
	}
	#main-screen{
		display: block;
	}
	#web-screen{
		display: block;
	}
	#pills-status{
		background: rgba(0,0,0,0.9);
		color: silver;
	}
}

@media screen and (min-width: 480px) and (max-width: 991px) {
	#web-screen,#status-screen,#status-back-button{
		display: none !important;	
	}
	#header{
		height: auto;
		padding: 4% 4%;	
	}
	#pills-chats,#pills-status,#pills-calls{
    height:auto !important;
	overflow-y: auto;
	}
	/*#pills-chats img{
		transform: scale(-0.5);
	}*/
}

@media screen and (max-width: 480px) {
	#web-screen,#status-screen,#status-back-button{
		display: none !important;	
	}
	#header{
		height: auto;
		padding: 4% 4%;	
	}
	#pills-chats,#pills-status,#pills-calls{
    height:auto !important;
	overflow-y: auto;
	}
}