.active{
	border-bottom: 4px solid white;
	background: transparent !important;
}
#nav-pills{
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 0% auto
}
#nav-pills .row{
	background-color: darkgreen;
	padding: 1% 0%;
	font-weight: 500;
	padding-bottom: 0
}
#nav-pills a{
	color: white;
}
/*.list-group-item{
	background: red;
	height: 10vh;
}*/
.no-left-padding{
	padding-left: 0;
}